<!doctype html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="Tom Leo's Website">
    <meta name="author" content="Tom Leo">
    <title>Website of Tom Leo</title>
    {% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <h1>TomLeo.com</h1>
        {% block nav %}
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
            </ul>
        </nav>
        {% endblock %}
        {% if request.user.is_superuser %}
        <div class="o-admin-tools">
        <ul>
            <li>
                <a href="{% url 'blog:post-new' %}">New Post</a>
            </li>
        </ul>
        </div>
        {% endif %}
    </header>
    <main>
    {% block main %}{% endblock %}
    </main>
    <footer>
        TomLeo.com &copy; 2007–2017
    </footer>
</body>
