{% extends 'base.html' %}
{% load rest_framework %}
{% block main %}
<h1>Post New</h1>

<form action="{% url 'blog:post-new' %}" method="post">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" name="submit">
</form>
{% endblock %}
