{% extend 'base.html' %}
{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1>{{ title }}</h1>
        <time class="dtstart" datetime="2011-10-05T09:00Z">9am on October 5</time>
    </header>
    {{ intro }}
    <div itemprop="articleBody">
        {{ content }}
    </div>
    <footer>
        <div class="a-published">
            Published <data itemprop="datePublished" value="2011-11-03"></data>
        </div>
        <div class="a-author">
            By <span itemprop="author">{{ author }}</span>
        </div>
    </footer>
</article>
{% endblock %}
