{% extends 'base.html' %}
{% block main %}
<nav>
    <ul>
        {% for post in posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
